# Controls coverage behavior
[paths]
# Required for proper coverage testing across multiple jobs
source =
    src
    */site-packages

[run]
source = resonaate
parallel = True
omit =
    tests/*
    docs/*
concurrency = thread, multiprocessing

[report]
exclude_lines =
    # Have to re-enable the standard pragma:
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError
    except KeyboardInterrupt

    # Don't complain about missing debug-only code:
    def __repr__

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:

    # Don't complain for type-checking guard:
    if TYPE_CHECKING:

precision = 2

[html]
directory = coverage
show_contexts = True
