[flake8]
# Ignores due to clobbering with pylint are designated. The rest are opinionated.

# D100: Missing docstring in public module
# D104: Missing docstring in public package
# D301: use r""" if any backslashes in a docstring
# D401: First line should be in imperative mood; try rephrasing
# D413: Missing blank line after last section
# E201: whitespace after '(' - pylint
# E202: whitespace before ')' - pylint
# E221: multiple spaces before operator - pylint
# E231: missing whitespace after ',' - pylint
# E266: too many leading '#' for block comment
# F401: imported but unused - pylint
# F841: local variable is assigned to but never used - pylint
# G001: Logging statement uses string.format()
# W291: trailing whitespace - pylint
# W293: blank line contains whitespace - pylint
# W503: line break before binary operator
ignore = D100, D104, D301, D401, D413, E201, E202, E221, E231, E266, F401, F841, G001, W291, W293, W503, B902

# These directories are ignored my flake8
exclude =
    .git,
    __pycache__,
    .vscode,
    .gitlab,
    coverage_report,
    external_data,
    example_data,
    logs,
    notebooks,
    output,
    build,
    dist,
    scripts,

# Ignores to setup for specific files or specific directories. Redundant example given
per-file-ignores = 
    docs/source/conf.py: A001

# Enforces complexity restrictions
max-complexity = 12

# My standard line lengths
max-line-length = 120

# Enables logging flake8 extension
enable-extensions = G,

# Hang closing brackets rather than match the indentation
hang-closing = False

# Number of occurrences of each error code
statistics = True

# Builtin objects, functions, names, etc to ignore
builtins = _, 

# Let flake8 know the name of our module
application-import-names = resonaate
