# Ignore processed Python
*.py[oc]

# Ignore VS Code things
*.code-workspace
*.vscode/settings.json

# Ignore setup/output directories/files
**/build/
**/dist/
**/logs/
**/gen/
*.egg-info
.eggs/
**/output/
**/plots/
**/debugging/
**/plots/
**/public/
**/init_test_files/

# Ignore coverage data, ipython cache, pytest cache
**/coverage_report/
**/coverage/
**/.pytest_cache/
**/.ipynb_checkpoints/

# Ignore all database files and redis-server rdb file
*.db
*.rdb
*.sqlite
*.sqlite3
**/db/

# Ignore output data file types
*.csv
*.zip
*.out
*.log

# Don't ignore .gitkeep files
!**/**/.gitkeep

# Ignore certain documentation
README.html
README.pdf

# Mac stuff
*.DS_Store
