# Ignore processed Python
*.py[oc]
**/__pycache__/

# Ignore VS Code things
*.code-workspace
*.vscode/settings.json

# Ignore setup/output directories/files
**/build/
**/dist/
**/logs/
**/gen/
*.egg-info
.eggs/
**/output/
**/plots/
**/debugging/
**/plots/
**/public/
**/init_test_files/

# Ignore coverage data, ipython cache, pytest cache
.coverage*
!.coveragerc
coverage.*
**/coverage_report/
**/coverage/
**/.pytest_cache/
**/.mypy_cache/
**/.ipynb_checkpoints/

# Virtual environments
.venv/
venv/

# Ignore all database files and redis-server rdb file
*.db
*.rdb
*.sqlite
*.sqlite3
**/db/

# Ignore output data file types
*.csv
*.zip
*.out
*.log

# Don't ignore .gitkeep files
!**/**/.gitkeep

# mjolnir-specific files
.mjolnir*

# Ignore certain documentation
README.html
README.pdf
*.pdf
**/sg_execution_times.rst

# Mac stuff
*.DS_Store
