[logging]
# === Section with options pertaining to logging. ===

# "OutputLocation" - describes where the logging module outputs logs.
#
# OutputLocation = stdout

# "Level" - logging level that gets output to the logs.
#
# Level     | Numeric Value
# ----------+---------------
# CRITICAL  | 50
# ERROR     | 40
# WARNING   | 30
# INFO      | 20
# DEBUG     | 10
# NOTSET    | 0
#
# Level = DEBUG

# "MaxFileSize" - maximum file size before the file rolls over. Only applies when
#   not using 'stdout' for "OutputLocation". Unit is bytes.
#
# MaxFileSize = 1048576

# "MaxFileCount" - maximum number of files that stay saved during runtime. Once
#   this limit is reached, the oldest files will be overwritten in the order
#   that they were written. Only applies when not using 'stdout' for
#   "OutputLocation".
#
# MaxFileCount = 50

# "AllowMultipleHandlers" - flag to set if user wants logs to be output to multiple
#   locations. Note that setting this to True and instantiating to Logger objects
#   that output to the same file will result in duplicate log messages in said
#   file.
#
# AllowMultipleHandlers = False

[database]
# === Section with options pertaining to database operation. ===

# "DatabasePath" - SQLAlchemy-accepted string denoting what database
#   implementation to use and where the database is located.
#
# DatabasePath = sqlite://

[parallel]
# === Section with options pertaining to parallel operation. ===

# "WorkerCount" - How many worker threads to spin up. Defaults to `None`, which will
#   spin up as many workers as there are cores available to `Resonaate`.
#
# WorkerCount = null

[debugging]
# === Section with options pertaining to debugging calculations and output. ===

# "ParallelDebugMode" - Whether to allow worker loops to block indefinitely. This is important
#   for debugging purposes. Otherwise, the worker jobs will assumed to have timed-out, and the
#   process will die.
#
# ParallelDebugMode = False

# "OutputDirectory" - Directory that debugging output files are saved to (relative
#    to root resonaate directory).
#
# OutputDirectory = debugging

# "NearestPD" - Output covariance information during Filter steps that use Cholesky
#   decomposition that has to resort to using `nearestPD()` to find the nearest
#   positive definite matrix when covariance isn't.
#
# NearestPD = False

# "NearestPDDirectory" - Directory that 'NearestPD' debugging output files are saved to
#   (relative to "OutputDirectory").
#
# NearestPDDirectory = cholesky_failure

# "EstimateErrorInflation" - Output Filter information when an 'update' step takes place
#   that results in greater absolute error of the state estimate.
#
# EstimateErrorInflation = False

# "EstimateErrorInflationDirectory" - Directory that 'EstimateErrorInflation' debugging output
#   files are saved to (relative to "OutputDirectory").
#
# EstimateErrorInflationDirectory = est_error_inflation

# "ThreeSigmaObs" - Output observation information when an observation's absolute error
#   is greater than the sensor's three-sigma variance.
#
# ThreeSigmaObs = False

# "ThreeSigmaObsDirectory" - Directory that 'ThreeSigmaObs' debugging output
#   files are saved to (relative to "OutputDirectory").
#
# ThreeSigmaObsDirectory = est_error_inflation

# "SaveSpaceSensors" - Output ephemerides for space-based sensors to a JSON file for post-processing
#   space-based observations.
#
# SaveSpaceSensors = False

# "SaveSpaceSensorsDirectory" - Directory that 'SaveSpaceSensors' saves JSON files to (relative to
#   "OutputDirectory").
#
# SaveSpaceSensorsDirectory = space_sensor_truth

[eop]
# === Section containing configuration options for retrieving EOPs ===

# "LoaderName" - Name of the concrete `EOPLoader` implementation to use.
#
# LoaderName = ModuleDotDatEOPLoader

# "LoaderLocation" - Location that the specified `EOPLoader` will load EOP data from.
#
# LoaderLocation = EOPdata.dat
